.Home-body {
    background-image: url('../../images/fondo.avif');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-attachment: fixed; /* Fija la imagen de fondo en su lugar */
    background-position: center; /* Puedes ajustar esta posición según tus necesidades */
    height: auto;
    padding: 15px 60px;
    color: white;
}

.Pag-1 {
    margin-top: 180px;
    padding: 50px 50px;
    text-align: center;
    border: 0.5px solid rgba(204, 204, 204, 0.57);
    color: black;
    backdrop-filter: blur(8px);
    border-radius: 25px;
}

.Pag-2 {
    padding: 50px 50px;
}

.Box-1 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.Box-1 h2 {
    display: inline-block;
    border-radius: 25px;
    padding: 20px;
    margin: 0px 30px;
    color: white;
}

.Sub-2 {
    background-color: red;
}

.Bot-1 {
    margin-bottom: 15px;
    width: auto;
    min-width: 150px;
    max-width: 300px;
    border-radius: 50px;
    background: #ffffff;
    padding: 10px 22px; 
    color: #000000;
    font-size: 19px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}