.Rutas-body {
    background-color: #191919;
    padding: 15px 60px;
}

.Rutas-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}

.Rutas-card-title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}